<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
  <sitecore>
    <pipelines role:require="Standalone or ContentManagement or ContentDelivery">
      <renderField>
        <processor patch:before="processor[@type='Sitecore.Pipelines.RenderField.GetTextFieldValue, Sitecore.Kernel']" type="Foundation.MarkdownField.Pipelines.GetMarkdownFieldValue, Foundation.MarkdownField"/>
      </renderField>
    </pipelines>
    <fieldTypes role:require="Standalone or ContentManagement or ContentDelivery">
      <fieldType  patch:before="fieldType[1]" name="Markdown" type="Sitecore.Data.Fields.TextField, Sitecore.Kernel" resizable="true" />
    </fieldTypes>

    <contentSearch>
      <indexConfigurations>
        <defaultSolrIndexConfiguration type="Sitecore.ContentSearch.SolrProvider.SolrIndexConfiguration, Sitecore.ContentSearch.SolrProvider" search:require="solr">
          <fieldReaders type="Sitecore.ContentSearch.FieldReaders.FieldReaderMap, Sitecore.ContentSearch">
            <mapFieldByTypeName hint="raw:AddFieldReaderByFieldTypeName">
              <fieldReader fieldTypeName="markdown" fieldReaderType="Foundation.MarkdownField.FieldReaders.MarkdownFieldReader, Foundation.MarkdownField" />
            </mapFieldByTypeName>
          </fieldReaders>
          <fieldMap type="Sitecore.ContentSearch.SolrProvider.SolrFieldMap, Sitecore.ContentSearch.SolrProvider">
            <fieldTypes hint="raw:AddFieldByFieldTypeName">
              <fieldType fieldTypeName="markdown" returnType="text" />
            </fieldTypes>
          </fieldMap>
        </defaultSolrIndexConfiguration>
        
        <defaultLuceneIndexConfiguration type="Sitecore.ContentSearch.LuceneProvider.LuceneIndexConfiguration, Sitecore.ContentSearch.LuceneProvider" search:require="lucene">
          <fieldReaders type="Sitecore.ContentSearch.FieldReaders.FieldReaderMap, Sitecore.ContentSearch">
            <mapFieldByTypeName hint="raw:AddFieldReaderByFieldTypeName">
              <fieldReader fieldTypeName="markdown" fieldReaderType="Foundation.MarkdownField.FieldReaders.MarkdownFieldReader, Foundation.MarkdownField" />
            </mapFieldByTypeName>
          </fieldReaders>
          <fieldMap type="Sitecore.ContentSearch.LuceneProvider.LuceneFieldMap, Sitecore.ContentSearch.LuceneProvider">
            <fieldTypes hint="raw:AddFieldByFieldTypeName">
              <fieldType fieldTypeName="markdown" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider" />
            </fieldTypes>
          </fieldMap>
        </defaultLuceneIndexConfiguration>

        <defaultCloudIndexConfiguration type="Sitecore.ContentSearch.Azure.CloudIndexConfiguration, Sitecore.ContentSearch.Azure" search:require="azure">
          <fieldReaders type="Sitecore.ContentSearch.FieldReaders.FieldReaderMap, Sitecore.ContentSearch">
            <mapFieldByTypeName hint="raw:AddFieldReaderByFieldTypeName">
              <fieldReader fieldTypeName="markdown" fieldReaderType="Foundation.MarkdownField.FieldReaders.MarkdownFieldReader, Foundation.MarkdownField" />
            </mapFieldByTypeName>
          </fieldReaders>
          <fieldMap type="Sitecore.ContentSearch.Azure.FieldMaps.CloudFieldMap, Sitecore.ContentSearch.Azure">
            <fieldTypes hint="raw:AddFieldByFieldTypeName">
              <fieldType fieldTypeName="markdown" boost="1f" type="System.String" searchable="YES" retrievable="YES" facetable="YES" filterable="YES" sortable="YES" settingType="Sitecore.ContentSearch.Azure.CloudSearchFieldConfiguration, Sitecore.ContentSearch.Azure" cloudAnalyzer="language" />
            </fieldTypes>
          </fieldMap>
        </defaultCloudIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>